<nz-input-group
  nzSearch
  cdkOverlayOrigin
  #trigger
  [nzSuffix]="searchButton"
  [nzPrefix]="form ? moreButton:null">
    <input type="text" style="width:250px" nz-input [placeholder]="placeholder" [(ngModel)]="simpleSearchValue" (keyup.enter)="simpleSearch()"/>
</nz-input-group>

<ng-template #searchButton>
  <button class="search-btn" nz-button nzSize="small" nzSearch (click)="simpleSearch()">
    <i nz-icon nzType="search"></i>
  </button>
</ng-template>

<ng-template #moreButton>
  <button
   class="search-btn"
   nz-button
   (click)="isOpen=!isOpen"
   nzSize="small" >
    <i nz-icon nzType="caret-down" nzTheme="outline"></i>
  </button>
</ng-template>

<ng-template cdkConnectedOverlay
  cdkConnectedOverlayMinWidth="318px"
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen">
  <nz-card class="sk">
    <sf #sf [schema]="form" button="none" compact="true" (formValueChange)="formValueChange($event)"></sf>
    <div class="modal-footer">
      <button nz-button nzSize="small" (click)="sf.reset();search()">重置</button>
      <button nz-button nzType="primary" nzSize="small" (click)="search()">查询</button>
    </div>
  </nz-card>
</ng-template>
