<app-page-title [searchBar]="searchBar">
  <ng-template #searchBar>
    <app-advance-search class="mr-sm" [advanceSearchForm]="searchForm" [simpleSearchKeys]="searchParams"></app-advance-search>
    <button nz-button nzType="primary" (click)="addUser()">添加新用户</button>
  </ng-template>
</app-page-title>

<st #userTable
  [columns]="columns"
  [pi]="currentPage"
  [ps]="pageSize"
  [total]="total"
  (change)="tableChange($event)"
  [data]="userList">

  <ng-template st-row="enable" let-item>
    <nz-switch nzSize="small" [ngModel]="item.enable===0"></nz-switch>
  </ng-template>

</st>
